{% extends "blog/base.html" %}
{% block content %}

    <div  class="p-3 mb-2 bg-success text-white"><h1> About Author</h1> </div>
     <div class="text-center" >
  <img src="https://scontent.fktm8-1.fna.fbcdn.net/v/t1.0-9/43210538_2099834810068483_3460199101616881664_n.jpg?_nc_cat=102&_nc_ht=scontent.fktm8-1.fna&oh=538cb1c84e1441e323d1d7e381e6a07e&oe=5CD7BA66" class="rounded" height="300" width="200" alt="Barsha Pokharel">
     </div>
    <dl class="row">
  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-9">Barsha Pokharel</dd>

  <dt class="col-sm-3">Date of Birth</dt>
  <dd class="col-sm-9">Nov 26 1998
     </dd>

  <dt class="col-sm-3">Residence</dt>
  <dd class="col-sm-9"> Katunje,Bhaktapur</dd>
        <dt class="col-sm-3 text-truncate">Occupation</dt>
  <dd class="col-sm-9">Student</dd>

  <dt class="col-sm-3 text-truncate">Personal Interest</dt>
  <dd class="col-sm-9">Reading Books, Photography, Travelling, Listening Music, Passionate of Cinema and
Theatre, Trekking, Sports.</dd>


    </dl>
  </dd>
</dl>
     <p>Sometimes it is hard to introduce yourself because you know yourself so well that you do not know where to start with. Let me give a try to see what kind of image you have about me through my self-description. I hope that my impression about myself and your impression about me are not so different. Here it goes.

 I am a person who is positive about every aspect of life. There are many things I like to do, to see, and to experience. I like to read, I like to write; I like to think, I like to dream. I like to talk, I like to listen. I like to see the sunrise in the morning, I like to see the moonlight at night. I like to feel the music flowing on my face, I like to smell the wind coming from the ocean. I like to look at the clouds in the sky with a blank mind, I like to do thought experiment when I cannot sleep in the middle of the night. I like flowers in spring, rain in summer, leaves in autumn, and snow in winter.  I like to get up late. I like to be surrounded by people. I like country’s peace. I like delicious food and comfortable shoes. I like good books and romantic movies. I like the land and the nature, I like people. And, I like to laugh.</p>


    </div>
    </div>

{% endblock %}


